/bin
/.classpath
/.project
/soar-soar2d/bin
/soar-soar2d/target
/soar-soar2d/felix-cache
/soar-soar2d/.settings
/soar-soar2d/bundles/*.jar
/soar-soar2d/lib/jcommon-1.0.10.jar
/soar-soar2d/lib/jfreechart-1.0.6-swt.jar
/soar-soar2d/lib/jfreechart-1.0.6.jar
/soar-soar2d/lib/soar-debugger-api.jar
/soar-soar2d/lib/soar-debugger.jar
/soar-soar2d/lib/soar-smljava.jar
/soar-soar2d/lib/swt.jar
/soar-soar2d/lib/swtgraphics2d.jar
/soar-soar2d/lib/org.apache.felix.framework-4.2.1.jar
/soar-config/target
/soar-config/bin
/soar-tank-alt/target
/soar-tank-alt/bin

